@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<p>@someText</p>
<p>@someText2</p>

<div @onmouseover="OnActivate" @onmouseout="OnBlur">
    <br />
    <br />
    <br />
    <br />
</div>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<input class="input-group-text" @bind="someText2" @bind:event="oninput"/>



@code {
    private int currentCount = 0;
    private string someText = string.Empty;
    private string someText2 = string.Empty;

    private void IncrementCount()
    {
        currentCount++;
    }

    private async Task OnActivate()
    {
        someText = "activated";

        int count = 0;
        while (count++ < 3)
        {
            someText2 += "dadaw";
            await Task.Delay(10);
        }
    }

    private void OnBlur()
    {
        someText = "deactivated";
    }
}
