@using Front.Services

@page "/user"
@inject CustomAuthStateProvider stateProvider

<PageTitle>User</PageTitle>

@if (stateProvider.CurrentUser != null)
{
    <Front.Components.AuthService.UserInfo Id="@stateProvider.CurrentUser.Id"/>

    if (LoadingClientsPage)
    {
        <button class="btn btn-primary" @onclick="OnLogOutClicked">Log out</button>
    }
}

@code {
    [Parameter]
    public Guid? Id { get; set; }

    public bool LoadingClientsPage => Id == null || (stateProvider.CurrentUser?.Id ?? Guid.Empty) == Id;


    private void OnLogOutClicked(MouseEventArgs e)
    {
        stateProvider.Logout();
    }
}
