@using Front.Services

@page "/user"
@inject CustomAuthStateProvider stateProvider

<PageTitle>User</PageTitle>

@if (stateProvider.CurrentUser != null)
{
    <Front.Components.AuthService.UserInfo Id="@stateProvider.CurrentUser.Id"/>

    <button class="btn btn-primary" @onclick="OnLogOutClicked">Log out</button>
}

@code {
    private void OnLogOutClicked(MouseEventArgs e)
    {
        stateProvider.Logout();
    }
}
